<div *ngIf="profile" class="profilePage"
     appInfiniteScroll
     [scrollCallback]="scrollCallback"
     [initDataSize]="1"
     [minItemSize]="123">
  <div class="mainContent">
    <div class="profile">
      <div class="leftBlock">
        <img src={{profile.avatar|imagePath}} class="avatar"/>
      </div>
      <div class="rightBlock">
        <h1 class="username">{{profile.username}}</h1>
      </div>
    </div>
  </div>

  <app-blog-constructor *ngIf="isMyPage"></app-blog-constructor>
  <app-blog [isMyPage]="isMyPage"></app-blog>
</div>
