<div>
  <div class="title">
    Sign in
  </div>
  <div class="authForm">
    <form (ngSubmit)="onSignIn()">
      <div class="field">
        <label>Login</label>
        <input [(ngModel)]="login" name="login"/>
      </div>
      <div class="field">
        <label>Password</label>
        <input [(ngModel)]="password" name="password" type="password"/>
      </div>
      <div class="actions">
        <input class="primary-button" type="submit" value="Sign in"/>
        <a routerLink="/sign_up">Sign up</a>
      </div>
    </form>
  </div>
</div>
