.rate {
  margin: 14px 0 9px 0;
  display: inline-block;
  font-size: 20px;
  color: firebrick;

  .likePost {
    cursor: pointer;
    margin-right: 20px;
    img {
      height: 26px;
      vertical-align: bottom;
      padding-bottom: 4px;
      padding-right: 7px;
    }
  }

  .dislikePost {
    cursor: pointer;
    color: black;
    img {
      height: 26px;
      vertical-align: bottom;
      padding-bottom: 4px;
      padding-right: 7px;
    }
  }

  .active {
    color: #5682a3;
  }
}
