<div class="rate">
  <!--<img class="views" src="../../../assets/views.png"/>-->
  <span class="likePost" (click)="likePost()" [ngClass]="meLike ? 'active' : ''">
    <span [hidden]="meLike">
        <img src="../../../assets/staticLayout/like.1.png"/>
    </span>
    <span [hidden]="!meLike">
      <img src="../../../assets/staticLayout/like.2.png"/>
    </span>
    <span>{{likeCounter}}</span>
  </span>
  <span class="dislikePost" (click)="dislikePost()" [ngClass]="meDislike ? 'active' : ''">
    <span [hidden]="meDislike">
      <img src="../../../assets/staticLayout/dislike.3.png"/>
    </span>
    <span [hidden]="!meDislike" >
      <img src="../../../assets/staticLayout/dislike.2.png"/>
    </span>
    <span>{{dislikeCounter}}</span>
  </span>
</div>
