.blogs {
  margin: 15px;
  //.username {
  //  font-weight: 500;
  //}
  > div {
    width: 80%;
    margin: 5vw auto;
    padding: 15px;
    box-shadow: 0px 0px 31px 1px black;
    .attachedImage {
      width: calc(100% - 16px);
      //box-shadow: 0px 0px 31px 1px black;
      border: 8px solid white;
    }
    .textContent {
      font-size: 19px;
    }
  }
}