.chat {
  .onlineCounter {
    text-align: right;
    font-size: 20px;
    color: #335871;
    margin: 0 16px;
  }

  .chatBody {
    width: 100%;
    .message {
      padding: 10px;
      display: block;
      font-size: 20px;
      //color: #335871;
      text-decoration: none;
      border-bottom: 1px solid #ebebeb;
      .content {
        width: 100%;
        padding-left: 20px;
      }
      .sender {
        color: #497799;
      }
      .time {
        margin-left: 10px;
        color: #9f9f9f;
        font-size: 17px;
        font-weight: 200;
        min-width: 80px;
        text-align: center;
      }
    }
  }

  //.message:nth-last-child(0) {
  //  border: 0;
  //}
}