<div class="mainContent">
  <form [formGroup]="formGroup" (ngSubmit)="onSaveChanges()" class="editProfileForm">
    <div class="field">
      <label>Avatar</label>
      <input formControlName="avatar" type="file" (change)="onAvatarChanged($event)"/>
    </div>
    <div class="field">
      <label>Username</label>
      <input formControlName="username" placeholder="Username"/>
    </div>
    <div class="field">
      <label>Login</label>
      <input formControlName="login" placeholder="Login"/>
    </div>
    <div class="field">
      <label>Password</label>
      <input formControlName="password" placeholder="New password" type="password"/>
    </div>
    <!---->
    <div class="field">
      <label>Bio</label>
      <textarea></textarea>
    </div>
    <div class="field">
      <label>Hobbies</label>
      <div>
        <label>Some text</label>
        <input type="checkbox" />
        <label>Some text</label>
        <input type="checkbox" />
        <label>Some text</label>
        <input type="checkbox" />
      </div>
    </div>
    <!---->
      <input type="submit" value="Save changes" class="actionBtn"/>
  </form>
</div>
