<div class="mainContent">
  <div class="attachedImages">

      <ng-template [ngIf]="editId && existsPost">
        <div *ngFor="let image of existsPost.attachedFiles" class="fileBlock">
          <img src="{{image|imagePath}}" class="attachment"/>
          <button (click)="removeFileExists(image)" class="removeFile">X</button>
        </div>
      </ng-template>

      <div *ngFor="let image of filesPreview; let i = index" class="fileBlock">
        <img src="{{image}}" class="attachment"/>
        <button (click)="removeFileLocal(i)" class="removeFile">X</button>
      </div>

  </div>
  <form [formGroup]="formGroup" (ngSubmit)="publishPost()" class="blogConstructor">
    <textarea formControlName="textContent" name="textContent" (keydown)="textContentChanged()"></textarea>
    <span class="image-upload">
      <label for="attachments">
        <img src="../../../assets/staticLayout/attach.png">
      </label>
      <input id="attachments" formControlName="files" type="file" multiple (change)="onFilesAttached($event)"/>
    </span>
    <input type="submit" class="submitPost"/>
  </form>
</div>
