<div>
  <div class="title">
    Sign up
  </div>
  <div class="authForm">
    <form [formGroup]="formGroup"  (ngSubmit)="onSignUp()">
      <div class="field">
        <label>Username</label>
        <input formControlName="username" name="username"/>
      </div>
      <div class="field">
        <label>Login</label>
        <input formControlName="login" name="login" type="login"/>
      </div>
      <div class="field">
        <label>Password</label>
        <input formControlName="password" name="password" type="password"/>
      </div>
      <input class="primary-button" type="submit" value="Sign up"/>
    </form>
  </div>
</div>
