<div class="blog">
  <div *ngFor="let post of blogService.blog">
    <div class="blogBody" *ngIf="post._id != editFormOpened">
      <div class="post">
        <div>
          <img *ngFor="let img of post.attachedFiles; let i = index"
               src={{img|imagePath}}
               [ngClass]="(i == 0) ? 'attachedImage' : 'attachment'"/>
        </div>
        <p class="textContent">{{post.textContent}}</p>
      </div>
    </div>
    <ng-container *ngIf="isMyPage">
      <div class="actions" *ngIf="post._id != editFormOpened">
        <div class="editBlog" (click)="editPost(post._id)">Edit</div>
        <div class="deleteBlog" (click)="deletePost(post._id)">Delete</div>
      </div>
      <app-blog-constructor
        *ngIf="post._id == editFormOpened"
        [editId]="post._id"
        (closeEditForm)="closeEditForm()">
      </app-blog-constructor>
    </ng-container>
  </div>
</div>
