<div class="blog">
  <div *ngFor="let post of blogService.blog">
    <div class="blogBody">
      <div class="post">
        <img *ngIf="post.attachedFiles[0]"
             src={{post.attachedFiles[0]|imagePath}}
             class="attachedImage"/>
        <p class="textContent">{{post.textContent}}</p>
      </div>
    </div>
    <div class="actions" *ngIf="isMyPage">
      <div class="editBlog">Edit</div>
      <div class="deleteBlog" (click)="deletePost(post._id)">Delete</div>
    </div>
  </div>
</div>
